html{
    background: url("../../Pics/pizza.png");
    background-repeat: no-repeat;
    background-size: auto;
}

*:required{color: red;}

* {
    box-sizing: border-box;
}

body, html {
    width: 99%;
    height: 100%;
}

body {
    font-family: "Calibri", sans-serif;
    font-size: 1em;
}

button {
    font-size: .8em;
}

label {
    font-family: "Calibri", sans-serif;
    color: #000000;
    width: 150px;
    display: block;
    float: left;
}

form p {
    line-height: 2;
}

p button {
    margin-left: 200px;
}

#container {
    width: 80%;
    margin: auto;
}

#ergebnis {
    margin-left: 20px;
}

#getValues {
    margin-top: 20px;
}

fieldset{
    border-color: #2E9AFE;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: auto;
    background-size: cover;
}

#checkboxes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#bestellung{
    background-color: #4cc0cc;
}

.Eingabefenster{
    border: 1px solid blue;
    padding: 10px;
    background-color: #138fbc;
}

.holeW{
    border: 1px solid black;
    padding: 10px;
    background-color: hsla(110, 100%, 33%, 1);
}

.pic{
    background-color: hsla(252, 100%, 33%, 1);
}

.container2{
    display: flex;
}
